In [3]:

mixed_list = [42, 3.14, "hello", True, [1, 2, 3]]


print("Mixed List:", mixed_list)


for element in mixed_list:
    print(f"Element: {element}, Type: {type(element)}")

Mixed List: [42, 3.14, 'hello', True, [1, 2, 3]]
Element: 42, Type: <class 'int'>
Element: 3.14, Type: <class 'float'>
Element: hello, Type: <class 'str'>
Element: True, Type: <class 'bool'>
Element: [1, 2, 3], Type: <class 'list'>

In [6]:

my_list = [1, 2, 3, 4, 5]


element_to_check = 7


if element_to_check in my_list:
    print(f"{element_to_check} is in the list.")
else:
    print(str(element_to_check)+" is not in the list.")

7 is not in the list.

In [5]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list))

5

In [9]:
n=[1,2,3,4,5]

sqlist=[x**2 for x in n]

print(sqlist)

[1, 4, 9, 16, 25]

In [23]:

n = [1, 2, 3, 4, 7, 4, 5]
n = set(n)
print(sorted(n,reverse=True))

[7, 5, 4, 3, 2, 1]

In [26]:
ls1=[1,2,3,4,5]
ls2=[5,4,3,6,2,1]
set1=set(ls1)
set2=set(ls2)
if set1==set2:
    print("list is same")
else:
    print ("not same")

not same

In [28]:
ls1=[1,2,3,4,5]
ls2=[5,4,3,2,1]
ls1.sort()
ls2.sort()
if ls1==ls2:
    print("list is same")
else:
    print ("not same")

list is same